<div class="navbar-fixed">
	<nav class="z-depth-0">
		<div class="nav-wrapper">
		<a href="/" class="brand-logo">Aditya Balwani</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/resume/current.pdf" target="_blank">RESUME</a></li>
			<li><a href="/projects">PROJECTS</a></li>
			<li><a href="https://www.github.com/SirKitboard" target="_blank">GITHUB</a></li>
			<li><a href="mailto:adibalwani@gmail.com">CONTACT</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="/resume/current.pdf">Resume</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="https://www.github.com/SirKitboard">Github</a></li>
			<li><a href="mailto:adibalwani@gmail.com">Contact</a></li>
		</ul>
		</div>
	</nav>
</div>